.projects-container {
    padding-top: 2.5rem;
    width: 85%;
    margin: 0 auto;
}

.projects-container ul {
    margin-top: 1.5rem;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
}

.project-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--bg-color-variant);
    border: 1px solid black;
    border-radius: 5px;
    gap: 0.1rem;
}

.project-block h3 {
    color: #36d0d5;
}

.project-link {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
    border-radius: 5px;
}

.projects-picture {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay {
    display: none;
}

.project-link:hover .projects-picture {
    opacity: 0.4;
}

.projects-picture:hover + .overlay,
.overlay:hover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.project-description {
    padding-top: 3%;
}

.overlay-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 3%;
}

@media screen and (max-width: 1200px) {
    .project-block h3 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .projects-container ul {
        /* margin-top: 1.5rem;
        display: grid;*/
        grid-gap: 20px;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 600px) {
    .projects-container ul {
        /* margin-top: 1.5rem;
        display: grid;*/
        grid-gap: 20px;
        grid-template-columns: auto;
    }
}
