.skills-container {
    padding-top: 2.5rem;
    width: 70%;
    margin: 0 auto;
}

.skills-list {
    margin-top: 1.5rem;
    list-style-type: none;
    background: #181a1b;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* margin: 0 auto; */
}

.skill-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 3rem;
    transition: 0.3s;
    /* width: 80px; */
}

.skill-block:hover {
    transform: scale(1.3);
}

.skill-icon {
    width: 80px;
}

@media screen and (max-width: 800px) {
    .skill-icon {
        width: 70px;
    }
    .skill-block {
        margin: 2rem;
        font-size: 0.9rem;
    }
    .skills-container {
        width: 75%;
    }
}

@media screen and (max-width: 500px) {
    .skill-icon {
        width: 60px;
    }
    .skill-block {
        margin: 1rem;
        font-size: 0.9rem;
    }

    .skills-container {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .skill-icon {
        width: 60px;
    }
    .skill-block {
        margin: 1rem;
        font-size: 0.9rem;
    }

    .skills-container {
        width: 90%;
    }
}
