.about-container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding-top: 1.5rem;
    justify-content: center;
    max-width: 50%;
}

.about-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-top: -2rem; */
}

.about-card {
    background: var(--bg-color-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    transition: var(--transition);
    /* width: 200%; */
}

.about-card:hover {
    background: transparent;
    border-color: var(--primary-color-variant);
    cursor: pointer;
}

p {
    /* width: 50%; */
    /* text-align: center; */
    font-size: 1rem;
}

@media screen and (max-width: 1000px) {
    .about-container {
        max-width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .about-container {
        max-width: 80%;
        flex-direction: column;
        align-items: center;
    }
    .about-cards {
        max-width: 120%;
        flex-direction: row;
        flex: 1 1 0px;
    }
    .about-card {
        text-align: center;
        width: 10rem;
    }
    p {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .about-card {
        text-align: center;
        width: 8rem;
    }
}
