nav {
    position: fixed;
    width: max-content;
    background: rgb(24, 24, 24);
    display: block;
    padding: 0.3rem 1rem;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 2.5rem;
    border-radius: 2rem;
    justify-content: center;
    /* backdrop-filter: blur(15px); */
}

nav a {
    font-size: 1.2rem;
    color: rgb(28, 162, 171);
    background: transparent;
    padding: 0.25rem 0.5rem;
}

/* nav a.current {
    background: var(--bg-color);
    color: white;
    border-radius: 2rem;
} */

@media screen and (max-width: 500px) {
    nav {
        width: 80%;
        gap: 7%;
    }
}
