footer {
    background: #181a1b;
    padding: 2rem 0;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 3rem;
}

.footer-socials {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-socials a {
    color: white;
    transition: var(--transition);
}

.footer-socials a:hover {
    margin-top: -3%;
    /* color: blue; */
}

@media screen and (max-width: 1000px) {
    footer {
        /* font-size: 1.2rem; */
    }
}

@media screen and (max-width: 1000px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 7rem;
    }

    .footer-socials {
        margin-top: 1.5rem;
        width: 80%;
    }
}
